{% extends 'core/base.html' %}

{% block title %}Log In | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-black">Log In</h1>
</div>

<form method="post" action="." class="lg:w-1/4 px-4 py-6 mx-auto bg-indigo-400 rounded-xl">
    {% csrf_token %}

    <div class="mb-5">
        <label class="text-white">Username</label>
        <input type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>

    <div class="mb-5">
        <label class="text-white">Password</label>
        <input type="password" name="password" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>

    <!-- similar to signing up, loop through the form data to detect log in errors -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
                <div class="mb-5 p-4 rounded-xl bg-red-400 text-white">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button class="px-5 py-3 rounded-xl text-white bg-indigo-600 hover:bg-indigo-700">Log In</button>
</form>
{% endblock %}