{% extends 'core/base.html' %} 

{% block title %}{{ room.name }} | {% endblock %} 

{% block content %}
<div class="p-10 lg:p-20 text-center">
  <h1 class="text-3xl lg:text-6xl text-black">{{ room.name }}</h1>
</div>

<!-- HTML to display the messages in a chatbox -->
<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">

        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">Username1</p>
            <p>The message lorem ipsum dolor sit amet.</p>
        </div>

        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">Username2</p>
            <p>The message lorem ipsum dolor sit amet.</p>
        </div>

        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">Username3</p>
            <p>The message lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</div>

<!-- form and button to allow the user to write and send their text messages -->
<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form method="post" action="." class="flex">
        <input type="text" name="content" class="flex-1 mr-3" placeholder="Type your message here..." id="chat-message-input">
        <button class="px-5 py-3 rounded-xl text-white bg-indigo-600 hover:bg-indigo-700" id="chat-message-submit">Send</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ room.slug | json_script:"json-roomname" }}

<script>
    // save the name of the room as a string
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
    // create a chat socket connection by creating a websocket and passing in the websocket URL
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/' + roomName + '/'
    );

    // use the chat socket 
    chatSocket.onmessage = function(e) {
        console.log('on');
    }
    chatSocket.onclose = function(e) {
        console.log('close');
    }
</script>
{% endblock %}